* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body p {
    color: #333;
}

.header-section {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner.png);
    background-size: cover;
    background-position: center;
}

.logo {
    width: 200px;
    padding: 5px;
}

.logo-img {
    width: 100%;
    cursor: pointer;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#navBar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#navBar ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;

}

#navBar ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.4s ease;
}

#navBar ul li a:hover::after {
    width: 100%;
}


.toggle-icon {
    display: none;
}

.hero-section {
    width: 100%;
    max-width: 70%;
    margin: auto;
    text-align: center;

}

.header-section h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.hero-section p {
    color: #ccc;
    margin-bottom: 20px;
}

.contact-btn {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    position: relative;
    transition: 0.5s ease;
}

.contact-btn::before {
    content: '';
    position: absolute;
    width: 20px;
    background: #fff;
    height: 1px;
    left: -10px;
    top: 17px;
}

.contact-btn::after {
    content: '';
    position: absolute;
    width: 20px;
    background: #fff;
    height: 1px;
    right: -10px;
    top: 17px;
}

.contact-btn:hover {
    background-color: orange;
}

/* -----------------courses---------------------------- */
.courses-section {
    text-align: center;
    padding-top: 90px;
}

.title {
    font-size: 35px;
    margin-bottom: 5px;
}

.courses {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.course-card {
    flex: 1 1 calc((100% / 3) - 10px);
    background-color: palegoldenrod;
    border-radius: 8px;
    padding: 15px 20px;

}

.course-card h3 {
    padding: 25px 0;
}

/* -----------------campus details-------------------- */
.campus-section {
    text-align: center;
    padding-top: 90px;

}

.campus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80%;
    margin: 60px auto 0;
    gap: 30px;
}

.campus-card {
    flex: 1 1 calc((100% / 3) - 30px);
    border-radius: 8px;
    position: relative;
    overflow: hidden;

}

.campus-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(178, 62, 62, 0.671);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
    border-radius: 8px;

}

.overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    overflow: hidden;
    color: #fff !important;
}

.campus-card:hover .overlay {
    height: 100%;
}

/* -------------------facilities-section------------------------ */
.facilities-section {
    padding-top: 90px;
    text-align: center;
}

.facilities {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 60px;
}

.facilities-card {
    flex: 1 1 calc((100% / 3) - 20px);
    border-radius: 8px;
    padding: 10px 10px 40px;
    text-align: left;
    box-shadow: 0px 0px 5px 1px #ccc;
}

.facilities-card img {
    width: 100%;
    border-radius: 8px;
}

.facilities-card h3 {
    margin: 20px 0;
}

.facilities-card p {
    color: #333;
}

/* ---------------------------testimonials-section---------------------------- */

.testimonials-section {
    padding-top: 90px;
    text-align: center;
}

.testimonials {
    width: 100%;
    max-width: 80%;
    display: flex;
    gap: 50px;
    margin: auto;
    margin-top: 60px;
}

.testimonials-card {
    flex: 1 1 50%;
    text-align: left;
    display: flex;
    gap: 20px;
    background-color: palegoldenrod;
    padding: 10px 10px;

}

.testimonials-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user h4 {
    margin: 10px 0;
}

.rating i {
    color: darkred;
}

/* --------------------------call to action-------------------------- */
.cta-section {
    padding-top: 90px;
    text-align: center;
}

.cta {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 150px 0;
}

.cta h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 10px;

}

/* ----------------footer section----------------- */
.footer-section {
    padding: 90px 20px 0;
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section i {
    color: darkred;
    cursor: pointer;
}

.footer-section p {
    margin: 25px 0;
}

/* =================aboutUs-header======================= */
.aboutUs-header {
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
    background-position: center;
    background-size: cover;

}

.aboutUs-header h1 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

/* ---------------------about us------------- */

.about-section {
    text-align: center;
    padding-top: 90px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.about-info {
    flex: 1 1 40%;
}

.about-info .aboutinfo-img {
    width: 100%;
    border-radius: 5px;
}

.about-info h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.about-btn {
    margin-top: 20px;
    background: rgb(179, 83, 83);
}

.about-btn::before {
    background: #000;
    height: 2px;
}

.about-btn::after {
    background: #000;
    height: 2px;
}

/* ---------------courses section--------- */
.courses-header {
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
}

.courses-header h1 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}

/* ------------------blog section-------------- */
.blog-header {
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
}

.blog-header h1 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

.blog-post {
    padding-top: 90px;
}

.blog-content {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
}

.blog-img {
    flex: 1 1 calc((100% / 2) - 40px);
}

.blog-img img {
    width: 100%;
}

.blog-catagories h4 {
    text-align: center;
    background: red;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 10px;
}

.blog-catagories p span {
    float: right;
}

.blog-catagories p {
    padding: 10px 0;
}

.blog-details {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.blog-details h4 {
    margin: 20px 0;
    font-size: 22px;
}

.comment {
    margin-top: 20px;
    padding: 20px 20px;
    box-shadow: 0 0 5px 1px #ccc;
}

.comment form input,
textarea {
    padding: 15px;
    outline: none;
    display: block;
    width: 100%;
    margin: 20px 0;
    background: #ccc;
    border: none;
    border-radius: 5px;
}

.comment-btn {
    border: 1px solid darkred;
    color: darkred;
    margin-top: 20px;
    background: transparent;
}

.comment-btn::before {
    background-color: darkred;
}

.comment-btn::after {
    background-color: darkred;
}

/* ------------contact us--------- */
.contact-us {

    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
}

.contact-us h1 {

    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

.map-container {
    width: 100%;
    max-width: 80%;
    margin: 100px auto;
}

.map-container iframe {
    width: 100%;
}

/* ----------contact details------- */

.contact-info {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-time p {
    color: #333;
    font-size: 22px;
}

.contact-time p span {
    font-weight: 500 !important;
    font-size: 13px !important;
}

.contact-time {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact-time i {
    color: darkred;
    font-size: 22px;
}

.location {
    flex: 1 1 calc((100% / 2));

}



/* ================================================================== */
/* ------------------Media Query for Small Screem------------------ */

@media (max-width:768px) {

    .toggle-icon {
        display: block;
        position: fixed;
        top: 3%;
        right: 7%;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .logo {
        position: fixed;
        top: 2%;
        left: 5%;
        width: 150px;
    }

    #navBar {
        position: fixed;
        top: 0;
        width: 100%;
        background: black;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        z-index: 1000;
    }


    #navBar ul {
        display: block;
        margin: 40px 0 10px;
    }

    #navBar ul li {
        margin: 20px 0;
    }

    #navBar.show-menu {
        max-height: 800px;
    }

    .hero-section {
        width: 100%;
        max-width: 100%;
        padding: 150px 20px;

    }

    .hero-section h1 {
        font-size: 30px;
    }

    .course-card,
    .campus-card,
    .facilities-card,
    .testimonials-card,
    .about-info,
    .blog-img {
        flex: 1 1 100%;
    }

    .courses,
    .campus,
    .facilities,
    .testimonials {
        flex-direction: column;
        max-width: 100%;
        padding: 20px;
    }

    /* -----------------about us media query--------------------- */

    .aboutUs-header,
    .blog-header,
    .contact-us,
    .courses-header h1 {
        padding-top: 200px;
    }

    /* -------blog media query----------- */
    .blog-details {
        max-width: 100%;
    }

}

@media (min-width:769px) and (max-width:900px) {

    .aboutUs-header h1,
    .courses-header h1,
    .contact-us h1,
    .blog-header h1 {
        padding-top: 90px;
    }

}